.DS_Store
*.csv
*.checkpoint
*.log
*.pyc
__pycache__/
.ipynb_checkpoints/
output/
!output/
!output/**
code/output/
!code/output/
!code/output/**
code/dataset/
output/**/.DS_Store
code/output/**/.DS_Store
!dataset/kuairand/kuairand-Pure/data/user_features_Pure_fillna.csv
!dataset/kuairand/kuairand-Pure/data/video_features_basic_Pure_fillna.csv
!dataset/kuairand/kuairand-Pure/data/video_features_statistic_pure.csv
dataset/kuairand/kuairand-Pure/data/log_session_4_08_to_5_08_Pure.csv
